registry=https://registry.npm.taobao.org
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
fsevents_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents
puppeteer_download_host=https://npm.taobao.org/mirrors